@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo, h1{
    font-family: 'Grand Hotel', cursive;
}

.signin-card{
    margin-top: 30px;
}

.profile-card{
    margin: 30px auto;
    max-width: 550px;
}

.signin-box{
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.gallery .item{
    width: 30%;
    margin-bottom: 15px;
}

.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

.input-field{
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.delete-post {
    float:right;
}

h5.posted-name {
    padding: 9px 6px;
    line-height: 20px;
    margin: 0;
}