@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo, h1{
    font-family: 'Grand Hotel', cursive;
}

.signin-card{
    margin-top: 30px;
}

.profile-card{
    margin: 30px auto;
    max-width: 550px;
}

.signin-box{
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.gallery .item{
    width: 30%;
    margin-bottom: 15px;
}

.home-card{
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
    position: relative;
}

.posted-name a {
    margin-left: 6px;
    font-size: 17px;
}

.input-field{
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

.delete-post {
    position: absolute;
    right: 4px;
    top: 8px;
}

h5.posted-name {
    padding: 9px 6px;
    line-height: 20px;
    margin: 0;
    display: flex;
}

.edit-profile{
    position: absolute;
    left: 0;
    cursor: pointer;
}
.profile-image{
    position: relative;
}

.page-footer {
    padding: 0 !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}
